@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

a {
  text-transform: uppercase;
}

a:hover {
  text-decoration: none;
}

.header {
  margin-bottom: 0;
  border: none;
}

.footer {
  border: none;
}
