<div class="text-center">
  <div class="row">
    <%= render partial: 'cat_gif', locals: { cat: cat } %>
  </div>
  <div class="row">
    <div class="col-sm-4 actions pull-left">
      <%= render 'like' %>
    </div>
    <div class="col-sm-4 actions pull-right">
      <%= render 'moar' %>
    </div>
  </div>
</div>
