<a class="twitter-share-button" href="<%= @cat.tweet %>" onclick="window.open(this.href, 'OMG KITTEH', 'width=500,height=250,centerscreen=true'); return false;">
  Tweet
  <%= fa_icon 'twitter' %>
</a>
