<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills pull-right">
      <% if user_signed_in? %>
        <li role="presentation">
          <%= render 'layouts/collecshun_or_signout' %>
        </li>
      <% else %>
        <li role="presentation">
          <%= link_to '/auth/twitter' do %>
            Sign in <%= fa_icon 'twitter 2x' %>
          <% end %>
        </li>
      <% end %>
    </ul>
    <%= render 'layouts/title' %>
  </nav>
</div>
